@inherits LayoutComponentBase
<div class="page">
    <main>
        <MudThemeProvider />
        <MudDialogProvider />
        <MudSnackbarProvider />
        <MudLayout>
            <MudMainContent Class="authBody">
                @Body
                <ConsentCookies />
            </MudMainContent>

        </MudLayout>
    </main>
</div>
