.authBody {
    background: url('../images/vecteezy_fingerprint-identity.webp') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    display: flex;
    padding: 0 !important;
}
.mudContainer {
    background-color: rgba(170, 170, 181, 0.75) !important;
    border-radius: 3% !important;

}
.centered-container {
    display: flex;
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    align-items: center; /* Centra los elementos hijos verticalmente */
    height: 100vh; /* Ajusta la altura al 100% de la ventana del navegador */
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo de su contenedor padre */
    background-color: transparent; /* Hace el fondo transparente */
}


.container-color {
    background-color: transparent;
    border-radius: 3%;
    width: 35%;
    min-width: max-content;
    max-height: 100vh; /* Asegura que el contenedor no exceda la altura de la pantalla */
}

