.authBody {
    background: url('../images/vecteezy_fingerprint-identity.webp') no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: auto;
    display: flex;
    padding: 0 !important;
}
.mudContainer {
    background-color: rgba(30, 30, 45, 0.80) !important;
    border-radius: 3% !important;

}
.centered-container {
    display: flex;
    justify-content: center; /* Centra los elementos hijos horizontalmente */
    align-items: center; /* Centra los elementos hijos verticalmente */
    height: 100vh; /* Ajusta la altura al 100% de la ventana del navegador */
    width: 100%; /* Asegura que el contenedor ocupe el ancho completo de su contenedor padre */
    background-color: transparent; /* Hace el fondo transparente */
}


.container-color {
    background-color: transparent;
    border-radius: 3%;
    width: 30%;
    min-width: max-content;
    max-height: 100vh; /* Asegura que el contenedor no exceda la altura de la pantalla */
}


.mud-input-control.whiteLabel > .mud-input-control-input-container > .mud-input-label-inputcontrol {
    color: white !important;
}

div.whiteLabel div.mud-input-control-input-container label.mud-input-label.mud-input-label-animated.mud-input-label-text.mud-input-label-inputcontrol {
    color: white !important;
}

.cuestion-color {
    color: white;
}

.mudLightblue {
}
.whiteLabel {

}
div.mud-card-content.mudLightblue div.mud-input-control.mud-input-input-control div.mud-input-control-input-container div.mud-input.mud-input-underline input.mud-input-slot.mud-input-root {
    color: lightblue !important;
}






